<div class="create-profile-form form-group create-profile">

	<a href="#/"><img src="images/chat-app-logo.png" class="img-responsive main-logo"></a>

	<div class="text-center">Profile:</div>

	<form class="row" ng-submit="createProfile()">

		<div class="col-xs-3 col-xs-offset-3">
		  <input class="form-control" type="text" placeholder="First name" ng-model="profile.firstname">
		</div>
		<div class="col-xs-3">
		  <input class="form-control" type="text" placeholder="Last name" ng-model="profile.lastname">
		</div>

		<button class="col-xs-6 col-xs-offset-3 login-button" type="submit">Create Profile</button>
	</form>


	<br><br>

</div>