<div class="col-xs-3 sidebar-menu">

		<span class="fa fa-angle-double-left fa-4x pull-right" ng-model="sidebar" value="close"></span>

		<div class="row">
			<!-- <div class="col-xs-4 sidebar-logo"><img src="images/huddle-logo-icon.png" class="img-responsive sidebar-logo-img"></div> -->
			<div class="user-name col-xs-8">Hello, {{user.name}}</div>
		</div>

		<button class="new-chat-button" ng-click="openLightBox()">New Chat</button>

		<!-- displayed when you click on New Chat button -->
		<div class="new-room-lightbox" id="lightbox" ng-if="lightbox">
			<form>
				<div class="col-xs-6 col-xs-offset-3">
					<input class="form-control col-xs-4" type="text" placeholder="Room name" ng-model="newRoomName" autofocus>
				</div>
				<div class="col-xs-6 col-xs-offset-3">
					<button class="col-xs-6" ng-click="closeLightBox();">Cancel</button>
					<button class="col-xs-6" ng-click="createNewRoom(newRoomName)">Create</button>
				</div>
			</form>
		</div>

		<div class="rooms">
			<span>Rooms</span>
			<ul ng-repeat="room in rooms">
				<li ng-click="openChatRoom(room.id)">{{room.newRoomName}}</li>
			</ul>
		</div>

		<div class="team">
			<span>Team</span>
			<ul ng-repeat="member in ActiveUsers">
				<li>{{member.name}}</li>
			</ul>
		</div>

		<hr>

		<div class="team">
			<span>{{currentRoom}}</span>
			<ul ng-repeat="member in currentRoomMembers">
				<li>{{member}}</li>
			</ul>
		</div>

	</div>